body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f8f8f8;
  color: #333;
}

h3, h4, h5, h6 {
  color: #b8860b;
}

a {
  color: #b8860b;
  text-decoration: none;
}

a:hover {
  color: #daa520;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Đảm bảo header nằm trên các phần tử khác */
  background-color: #fff; /* Màu nền của header */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Tạo bóng cho header */
}

.content-wrapper {
  margin-top: 160px;
}



